/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@300;400;500&display=swap');

// See color references and rename it
$color-1: #d1b06b;
$color-2: #1f2732;
$color-3: #2e3947;

$color-4: #161d27;
$color-5: #d7d7d7;
$color-6: #ffffff;
$color-7: #3a4553;

$font-family-Outfit: 'Outfit', sans-serif;
$font-family-CormorantGaramond: 'Cormorant Garamond', serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  min-height: 100%;
  line-height: 1.6;
  background-color: $color-2;
  color: white;
}
